---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2021 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Set the ACL(s) of the file / directory specified.
- hosts: "{{ hosts | default('localhost') }}"
  name: "Set the ACL(s) of the file / directory specified"
  become: yes

  vars_prompt:
    - name: "file_directory_name"
      prompt: "Enter the file / directory name"
      private: no

    - name: "user_group_other"
      prompt: "Entity type - (u)ser, (g)roup or (o)ther"
      private: no

    - name: "entity_name"
      prompt: "User or group name - leave blank for other"
      private: no

    - name: "permissions"
      prompt: "Permissions (r, rw, rwx, rx, x, wx)"
      private: no

#  vars:
#       print_information: true

  tasks:
    - include: ../common/common_information.yml

    - name: "Invalid file / directory name"
      local_action: command printf "Invalid file or directory name."
      when: file_directory_name == ""
      failed_when: true

    - name: "Invalid entity type"
      local_action: command printf "Invalid entity type - {{ user_group_other }}."
      when: user_group_other not in ['u', 'g', 'o']
      failed_when: true

    - name: "Invalid permissions"
      local_action: command printf "Invalid permissions - {{ permissions }}."
      when: permissions not in ['r', 'rw', 'rwx', 'rx', 'x', 'wx']
      failed_when: true

    - name: "Set Entity Type User"
      set_fact:
               entity_type: user
      when: user_group_other == 'u'
      changed_when: false

    - name: "Set Entity Type Group"
      set_fact:
               entity_type: group
      when: user_group_other == 'g'
      changed_when: false

    - name: "Set Entity Type Other"
      set_fact:
               entity_type: other
      when: user_group_other == 'o'
      changed_when: false

    # Debug
    #- name: "Debug data"
    #  local_action: command printf "entity_type - {{ entity_type }}\n"
    #  changed_when: false

    - name: "Set the ACL"
      acl:
          name: "{{ file_directory_name }}"
          state: present
          entity: "{{ entity_name }}"
          etype: "{{ entity_type }}"
          permissions: "{{ permissions }}"
      register: acl_data

    - name: "Print ACL data"
      local_action: command printf "{{ acl_data.acl }}"
      changed_when: false
