---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2019 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Get the information of a file / directory specified using stat.
- hosts: "{{ hosts | default('localhost') }}"
  name: "Get the information of a file / directory specified using stat"
  become: yes

  vars_prompt:
    - name: "file_directory_name"
      prompt: "Enter the file / directory name"
      private: no

    - name: "follow_symlinks"
      prompt: "Follow symbolic links (y/n)"
      private: no

  vars:
#       print_information: true
        symlinks: "no"

  tasks:
    - include: ../common/common_information.yml

    - name: Invalid file / directory name
      local_action: command printf "Invalid file or directory name."
      when: file_directory_name == ""
      failed_when: true

    - name: Invalid symlinks directive
      local_action: command printf "Invalid file or directory name."
      when: follow_symlinks not in ('y', 'Y', 'n', 'N')
      failed_when: true

    - name: Set follow symlinks
      set_fact:
               symlinks: "yes"
      when: follow_symlinks in ('y', 'Y')

    - name: Get the file / directory information
      stat:
            path: "{{ file_directory_name }}"
            get_checksum: no
            follow: "{{ symlinks }}"
      register: stat_data

    - name: Print stat data
      local_action: command printf "{{ stat_data.stat }}"
      changed_when: false
