---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2017 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# List any installed Software Collections using scl -l.
# Usually found on RHEL/CENTOS hosts after yum / dnf updates.
- hosts: "{{ hosts | default('localhost') }}"
  name: "List any installed Software Collections using scl -l"

  vars_prompt:
    - name: "collection_name"
      prompt: "Enter the Collection name to query.\n(Leave Blank to list all installed Collections)"
      private: no

#  vars:
#       print_information: true

  tasks:
    - include: ../../common/common_information.yml

    - name: List any installed Software Collections using scl -l
      command: scl -l {{ collection_name }}
      when: (ansible_os_family == 'RedHat')
            and
            (ansible_lsb.major_release|int > 5 and
             ansible_lsb.major_release|int <= 7)
      register: scl_info
      changed_when: false
      failed_when: scl_info.rc > 0
