---
# %BEGIN_COPYRIGHT%
#
# Copyright 2015-2026 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Common Handlers

# Backup /etc/sysconfig/iptables to /etc/sysconfig/iptables.{yyyymmdd}
- name: "Backup iptables"
  copy:
    src: "/etc/sysconfig/{{ iptables_file }}"
    dest: "/etc/sysconfig/{{ iptables_file }}.{{ lookup('pipe', 'date +%Y%m%d') }}"
    mode: 0600
    remote_src: true
  when: ansible_system == 'Linux'

# Save running iptables config to /etc/sysconfig/ [ iptables | ip6tables ]
- name: "Save running iptables"
  shell: "iptables-save > /etc/sysconfig/{{ iptables_file }}"
  when: ansible_system == 'Linux'

# Restart IP tables
- name: "Restart iptables"
  service:
    name: "{{ iptables_service }}"
    state: restarted
  when: ansible_system == 'Linux'
