---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2022 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Check for Stack Guard Page Circumvention Affecting Multiple Packages
# CVE-2017-1000366 on RHEL/CENTOS hosts
- hosts: "{{ hosts | default('localhost') }}"
  name: "Are we vulnerable to CVE-2017-1000366 on RHEL/CENTOS hosts"

#  vars:
#       print_information: true

  tasks:
    - import_tasks: ../../common/common_information.yml

    - name: "Check for Stack Guard Page Circumvention Affecting Multiple Packages - CVE-2017-1000366"
      script: scripts/cve-2017-1000366_2.sh
      when: (ansible_os_family == 'RedHat')
            and
            (ansible_lsb.major_release|int >= 5)
      register: vulnerable_info
      changed_when: false
      failed_when: vulnerable_info.rc > 0
