---
# %BEGIN_COPYRIGHT%
#
# Copyright 2015-2022 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Execute ubuntu-security-status / ubuntu-support-status
# on Ubuntu hosts.
- hosts: "{{ hosts | default('localhost') }}"
  name: "Execute ubuntu-security-status / ubuntu-support-status on Ubuntu hosts"

  vars:
       #print_information: true

  tasks:
    - import_tasks: ../../common/common_information.yml

    - name: "Run ubuntu-support-status"
      shell: "ubuntu-support-status --show-supported --list"
      when: ansible_distribution == 'Ubuntu'
            and
            ansible_distribution_major_version|int < 20
      changed_when: false

    - name: "Run ubuntu-security-status"
      shell: printf "ubuntu-security-status %s\n" "{{ item }}" && ubuntu-security-status {{ item }} && echo
      when: ansible_distribution == 'Ubuntu'
            and
            ansible_distribution_major_version|int >= 20
      with_items:
        - ""
        - "--thirdparty"
        - "--unavailable"
      changed_when: false
