---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2021 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Common Information

    # Amazon Linux is OS family 'RedHat' but doesn't follow Redhat's
    # version numbering. Use the Magic number 5.
    # AML 1 -> RHEL 6
    # AML 2 -> RHEL 7
    - name: "Dummy up Amazon Linux OS family version numbering if needed"
      set_fact:
               ansible_lsb:
                           major_release: "{{ ansible_distribution_major_version|int + 5 }}"
      when:
        - ansible_distribution == "Amazon"

    # Set ansible_distribution_major_version if undefined
    - name: "Set undefined ansible_distribution_major_version information"
      set_fact:
               ansible_distribution_major_version: "{{ ansible_distribution_version }}"
      when:
           ansible_distribution_major_version is not defined  

    # Set ansible_lsb.major_release when not defined.
    - name: Set undefined ansible_lsb information
      set_fact:
               ansible_lsb:
                           major_release: "{{ ansible_distribution_major_version }}"
                           release: "{{ ansible_distribution_version }}"
                           description: "{{ ansible_distribution_release }}"
      when: (ansible_lsb is not defined
            or
            ansible_lsb.major_release is not defined)

    # Print ansible fact information
    - name: Ansible fact information
      local_action: command printf "\nansible_distribution - {{ ansible_distribution }}\nansible_os_family - {{ ansible_os_family }}\nansible_distribution_version - {{ ansible_distribution_version }}\nansible_distribution_version(int) - {{ ansible_distribution_version|int }}\nansible_lsb.major_release - {{ ansible_lsb.major_release }}\nansible_distribution_major_version - {{ ansible_distribution_major_version }}\nansible_distribution_release - {{ ansible_distribution_release }}\n\n"
      when: print_information is defined
      changed_when: false
