---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2021 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Find any files in the directory specified using the -regex option
# of find(1).

    - name: "Print files found"
      local_action: command printf "Found {{ (file_info.stdout|from_json).found_count }} files(s)\n{{ (file_info.stdout|from_json).found_list.replace('%%', '\n') }}"
      when: (file_info.stdout|from_json).found == true
      changed_when: false

    - name: "Print no files found"
      local_action: command printf "No files found in the {{ directory_name }} directory."
      when: (file_info.stdout|from_json).found == false
      changed_when: false

    - name: "Upload large file list"
      fetch:
            src: "{{ (file_info.stdout|from_json).found_file }}"
            dest: "{{ upload_dest_directory }}"
            fail_on_missing: yes
      register: fetch_info
      when: (file_info.stdout|from_json).found == true
            and
            (file_info.stdout|from_json).found_file != ""

    - name: "Large file list uploaded"
      local_action: command printf "{{ (file_info.stdout|from_json).found_file }} file uploaded."
      when: fetch_info.changed == true
      changed_when: false

    - name: "Remove remote large file list"
      file:
           name: "{{ (file_info.stdout|from_json).found_file }}"
           state: absent
      when: fetch_info.changed == true
