---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2018 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# List the files of an installed RPM.
- hosts: "{{ hosts | default('localhost') }}"
  name: "List the files of an RPM installed on RHEL/CENTOS hosts"

  vars_prompt:
    - name: "rpm_package"
      prompt: "\nEnter the RPM package name"
      private: no

  vars:
        upload_dest_directory: "../../../uploaded_files"
#       print_information: true

  tasks:
    - include: ../../common/common_information.yml

    - name: Invalid RPM package name
      local_action: command printf "Invalid RPM package name."
      when: rpm_package == ""
      failed_when: true

    - name: List files of installed RPMs
      script: scripts/rpm_list_files  "{{ rpm_package }}"
      register: file_info
      changed_when: false
      failed_when: file_info.rc > 0

    - include: ../../common/common_find_files.yml
