---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2018 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# Find any files in the directory specified.
- hosts: "{{ hosts | default('localhost') }}"
  name: "Find any files in the directory specified"
  become: yes

  vars_prompt:
    - name: "directory_name"
      prompt: "Enter the directory name to find files in"
      private: no

    - name: "regex_to_find"
      prompt: "Enter the file name to find (eg *.jpg, sys*.conf)"
      private: no

  vars:
        upload_dest_directory: "../../uploaded_files"
#       print_information: true

  tasks:
    - include: ../common/common_information.yml

    - name: "Invalid directory name"
      local_action: command printf "Invalid directory name."
      when: directory_name == ""
      failed_when: true

    - name: "Invalid search expression"
      local_action: command printf "Invalid file name."
      when: regex_to_find == ""
      failed_when: true

    - name: "Find files in the directory specified"
      find:
           paths: "{{ directory_name }}"
           patterns: "{{ regex_to_find }}"
           recurse: yes
      #     use_regex: true
      register: file_info
      changed_when: false

    - name: "Files found < 100 - print list"
      local_action: command printf "{{ file_info | json_query('files[*].path') | to_nice_json }}\n"
      #local_action: command printf "{{ file_info.matched }}\n"
      when: file_info.matched > 0
            and
            file_info.matched <= 100
      changed_when: false

    - name: "Files found > 100 - save list"
      local_action: copy content="{{ file_info | json_query('files[*].path') | to_nice_json }}" dest="{{ upload_dest_directory }}/ansible_find_files_{{ inventory_hostname }}_{{ ansible_date_time.iso8601_basic_short }}.txt"
      when: file_info.matched > 100
      changed_when: false

    - name: "No Files found"
      local_action: command printf "No files were found in the directory {{ directory_name }} using {{ regex_to_find }}\n"
      when: file_info.matched == 0
      changed_when: false
