---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2020 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

#  Enable / Disbale YUM repositories on RHEL/CENTOS hosts
- hosts: "{{ hosts | default('localhost') }}"
  name: "Enable / Disable YUM repositories on RHEL/CENTOS hosts"
  become: yes

  vars_prompt:
    - name: "repo_name"
      prompt: "Enter the YUM repository name(s) \n(seperated by a comma for multiple)"
      private: no

    - name: "repo_action"
      prompt: "\n(e)nable or (d)isable YUM repositories given"
      private: no

  vars:
#       print_information: true

  tasks:
    - include: ../../common/common_information.yml

    - name: Invalid YUM repo name
      local_action: command printf "Invalid YUM repo name."
      when: repo_name == ""
      failed_when: true

    - name: Invalid YUM repo action
      local_action: command printf "Invalid YUM repo action - {{ repo_action }}."
      when: repo_action not in ['e', 'd']
      failed_when: true

    - name: Set YUM repo action
      set_fact:
               repo_enabled: "{{ (repo_action == 'e') | ternary('yes','no') }}"
      changed_when: false

    # https://docs.ansible.com/ansible/yum_repository_module.html
    # NOTE:
    # All comments will be removed if modifying an existing repo file.

    - name: Enable / Disable YUM repo
      yum_repository:
                     name: "{{ item }}"
                     state: present
                     enabled: "{{ repo_enabled }}"
      with_items:
        - "{{ repo_name.split(',') }}"

      when: (ansible_os_family == 'RedHat')
            and
            (ansible_lsb.major_release|int >= 5 and
             ansible_lsb.major_release|int <= 7)
