---
# %BEGIN_COPYRIGHT%
#
# Copyright 2015-2026 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

#  Install RPM repositories on RHEL/CENTOS hosts
- hosts: "{{ hosts | default('localhost') }}"
  name: "Install RPM repositories on RHEL/CENTOS hosts"
  become: true

  vars:
    repo_name: "{{ repo | default('') }}"
    repo_url: ""
#    print_information: true

  tasks:
    - import_tasks: ../../common/common_information.yml

    - import_tasks: define-repo.yml

    - name: "Include Yum installer"
      import_tasks: yum-repo-install.yml
      when: (ansible_os_family == 'RedHat')
            and
            (ansible_lsb.major_release|int >= 5 and
             ansible_lsb.major_release|int <= 7)
      changed_when: false

    - name: "Include DNF installer"
      import_tasks: dnf-repo-install.yml
      when: ((ansible_os_family == 'RedHat')
            and
            (ansible_lsb.major_release|int >= 8))
      changed_when: false
