---
# %BEGIN_COPYRIGHT%
# 
# Copyright 2015-2021 Ian McWilliam (kaosagnt@gmail.com).
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# %END_COPYRIGHT%

# List network zones for firewalld.
- hosts: "{{ hosts | default('localhost') }}"
  name: "List network zones for firewalld"
  become: yes

  vars:
#       print_information: true

  tasks:
    - import_tasks: ../../common/common_information.yml

#    - import_tasks: network-common-checks.yml

    # List network zones for firewalld.

    - name: "List all firewalld network zone information"
      command: firewall-cmd --list-all-zones
      when: (
             (ansible_os_family == 'RedHat'
              and
              ansible_lsb.major_release|int >= 7
             )
             or
             (
              hostvars[inventory_hostname]['use_iptables'] is defined
              and
              hostvars[inventory_hostname]['use_iptables'] | bool == False
             )
            )
      changed_when: false
